/*Login Page*/
.btn-fb{
    background: #3b5998;
}
.btn-fb:focus, .btn-fb:hover{
    background: #3b5998;
}
.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
    color: #00838f;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    border-bottom: 1px solid #00838f;
    box-shadow: none;
}
.login-form{
    margin: 50px auto;
}

.login-form .card{
    width: 500px;
}
.login-form .card img{
    display: initial !important;
}

.login-form .card .login-header{
    text-align: center;
    padding: 20px 0 0 0;
}
.login-form .card form{
    padding: 0 20px 20px 20px;
}
.login-form .card .login-footer{
    text-align: center;
    padding: 20px 0 20px 0;
}
.login-form .card .social-login{
    border-top: 1px solid #e5e5e5;
    padding: 10px;
    text-align: center;
}
.text-divider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-divider::before{
    flex: 1;
    margin: 0 1em 0 0;
}
.text-divider::after{
    flex: 1;
    margin: 0 0 0 1em;
}
.text-divider::before, .text-divider::after{
    content: '';
    height: 1px;
    background: #9e9e9e;
}
/*error*/
label {
    width: 100%;
}

label:after {
    -moz-transition-property: all !important;
    -o-transition-property: all !important;
    -webkit-transition-property: all !important;
    transition-property: all !important;
    font-size: 0.8rem;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    transform: none;
}

label:not(.active):after {
    -moz-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    -o-transform: translateY(-140%);
    -webkit-transform: translateY(-140%);
    transform: translateY(-140%);
}
/*CheckBox*/

@media (max-width: 576px) {
    .flex-center{
        display: initial;
    }
    .login-form{
        margin: 10px;
    }
    .login-form .card{
        width: 100%;
    }
}
@media (min-width: 576px) {
    .flex-center{
        display: flex;
    }
    .login-form{
        margin: 50px auto;
        width: 500px;
    }
    .login-form .card{
        width: 100%;
    }
}

@media (min-width: 768px) {
    .flex-center{
        display: flex;
    }
    .login-form{
        margin: 50px auto;
        width: 500px;
    }
    .login-form .card{
        width: 100%;
    }
}

@media (min-width: 992px) {
    .login-form{
        margin: 50px auto;;
        width: 500px;
    }
    .login-form .card{
        width: 100%;
    }
}

@media (min-width: 1200px) {

}