/* YOUR CUSTOM STYLES */
html,
body,.view, .main{
    height: 100%;
}
.btn-fb{
    background: #3b5998;
}
.btn-gplus{
    background: #dd4b39;
}
.btn-tw{
    background: #2ba9e1;
}
.flex-center {
    color: #000;
}

.view {
    background: url("../img/back.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.view .grad{
    height: 100%;
    background: -webkit-linear-gradient(left top,  rgba(43, 187, 173,.6),rgba(75, 81, 93,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right,  rgba(43, 187, 173,.6), rgba(75, 81, 93,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right,  rgba(43, 187, 173,.6), rgba(75, 81, 93,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right,  rgba(43, 187, 173,.6), rgba(75, 81, 93,1)); /* Standard syntax */
}
.login{
    width: 500px;
    background: #ffffff;
    box-shadow: 2px 5px 11px 2px rgba(256,256,256,.18);
}
.login-banner{
    width: 100%;
    height: 100px;
    background: -webkit-linear-gradient(left top,  rgba(43, 187, 173,.6),rgba(75, 81, 93,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right,  rgba(43, 187, 173,.6), rgba(75, 81, 93,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right,  rgba(43, 187, 173,.6), rgba(75, 81, 93,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right,  rgba(43, 187, 173,.6), rgba(75, 81, 93,1)); /* Standard syntax */
}
.login-banner .logo{
    text-align: center;
    width: 100%;
    height: 100%;
}
.login-banner .logo img{
    top: 20px;
    height: 60px;
    vertical-align: middle;
    display: inline-block;
    width: auto;
}
.login .login-form{
    margin: 20px 50px 20px 50px;
}
.login .login-form .md-form .prefix{
    margin-top: 15px;
}
.login .login-footer{
   margin: -20px 0 20px 0;
}
.login .login-form  .divider-new{
    margin: 0 !important;
}
.login .login-form .login-social{
    text-align: center;
}


.sing-up{
    width: 800px;
    background: #ffffff;
    box-shadow: 2px 5px 11px 2px rgba(256,256,256,.18);
}
.sing-up-banner{
    width: 100%;
    height: 100px;
    background: -webkit-linear-gradient(left top,  rgba(43, 187, 173,.6),rgba(75, 81, 93,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right,  rgba(43, 187, 173,.6), rgba(75, 81, 93,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right,  rgba(43, 187, 173,.6), rgba(75, 81, 93,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right,  rgba(43, 187, 173,.6), rgba(75, 81, 93,1)); /* Standard syntax */
}
.sing-up-banner .logo{
    text-align: center;
    width: 100%;
    height: 100%;
}
.sing-up-banner .logo img{
    top: 20px;
    height: 60px;
    vertical-align: middle;
    display: inline-block;
    width: auto;
}
.sing-up .sing-up-form form{
    padding: 20px 50px 20px 50px;
}
.sing-up .sing-up-form .md-form .prefix{
    margin-top: 15px;
}
.sing-up .sing-up-footer{
    margin: -20px 50px 80px 50px;
}
.sing-up .sing-up-social{
    padding: 30% 0 ;
    border-left: 2px solid rgb(43,187,173);
    text-align: center;
}
